.contact{
    background-color:#1c1d21;
    width:100%;

    text-align: center;
}
.contact-wrapper{
    color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}
.contact-wrapper h2{
    font-size:40px;
}
.contact-wrapper p{
    font-size:20px; 
}
.contact-wrapper form{
    width: 80%;
    margin: 20px auto;
}
.contact-wrapper form input{
    width: 100%;
    margin-bottom: 10px;
}
.contact-wrapper form button {
    margin-top: 20px;
}
.contact-wrapper form button:hover {
    background-color: #fff;
    color: #1c1d21;

}